body {
	margin:0;
	padding:0;
	overflow:hidden;
	font-family: source-sans-pro, sans-serif;
	color: white;
	word-spacing: -2px;
}

h1{
	font-weight: normal;
	margin: 0;
	padding: 0;
}

#nav-wrap{
	position: fixed;
	height: 46px;
	z-index: 1000;
	background-image: url('images/dirty_old_shirt.png'); 
	width: 100%;

}

#nav-wrap h1{
	position: absolute;
	top: 50%;
	margin-top: -8px;
	margin-left: 30px;
	float: left;
	font-size: 16pt;
	line-height: .8;
}

.header{
	margin: 0;
	padding: 0;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	background-image: url('images/dirty_old_shirt.png'); 
	width: 100%;
} 

.header h1{
	position: absolute;
	border-bottom-style:solid; 
	border-bottom-width:2px;
	line-height: .95;
	border-bottom-color: #C6AA01;
	padding-left: 10px;
	padding-right: 10px;
}


.text{
	position: relative;
	height: 400px;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
}

	.text .paragraph{
		position: relative;
		width: 60%; 
		line-height:1.2; 
		word-spacing: 2px; 
		display: inline-block; 
		vertical-align: top; 
		float: right;
		text-align: justify;
	}

	.text h2{
		position: relative; 
		font-size: 28pt; 
		margin: 0;
		padding: 0;
		left: 75px;
		font-weight: normal;
	}

	.text img{
		position: relative; 
		display: inline-block; 
		vertical-align: top; 
		float:left;
	}


#home{
	position: relative;
	font-size: 80px;
	line-height: .8;
	top: 120px;
	background-image: none;
	border: none;
	
}





/*#item1{
	border-width:0px 3000px 0px 0px;
	-moz-border-image:url("images/zigzag.png") 100 repeat stretch;
	-webkit-border-image:url("images/zigzag.png") 75 stretch;
	border-right-image:url("images/zigzag.png") 20 repeat stretch;
}
*/


