body {
	margin:0;
	padding:0;
	overflow:hidden;
	font-family: source-sans-pro, sans-serif;
	color: white;
	word-spacing: -2px;
}

h1{
	font-weight: normal;
	margin: 0;
	padding: 0;
}

h2{
	width: 650px;
	position: relative; 
	font-size: 28pt; 
	margin: 0;
	padding: 0;
	left: 75px;
	font-weight: normal;
	margin-left: auto;
	margin-right: auto;
}

h3{
	margin:0;
	padding:0;
}

#nav-wrap{
	position: fixed;
	height: 46px;
	z-index: 1000;
	background-image: url('images/dirty_old_shirt.png'); 
	width: 100%;

}

#nav-wrap h1{
	position: absolute;
	top: 50%;
	margin-top: -8px;
	margin-left: 30px;
	float: left;
	font-size: 16pt;
	line-height: .8;
}

.info{
	position: relative;
	height: 400px;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
}

	.info .right_content{
		position: relative;
		width: 60%; 
		line-height:1.2; 
		word-spacing: 2px; 
		display: inline-block; 
		vertical-align: top; 
		float: right;
		text-align: justify;
	}

	.info .right_content #left_right_content{
		float:left;
		width: 20%;

	}

	.info .right_content #progressBars {
		margin:0;
		padding:0;
		width: 78%;
		float: right;
		margin-right: 4px;
	}

	.info p{
		width: 35%;
		display: inline-block;
		vertical-align: top;
		text-align: justify;
		line-height:1.2; 
		word-spacing: 2px; 
	}
	.info img{
		position: relative; 
		display: inline-block; 
		vertical-align: top; 
		float:left;
	}

	.info #twitter{
		background-image: url('images/dirty_old_shirt.png');
		background-color: #7E7499;
		padding: 0 10px 0 10px;
	}
#home{
	position: relative;
	font-size: 80px;
	line-height: .8;
	top: 120px;
	background-image: none;
	border: none;
	
}







/*#item1{
	border-width:0px 3000px 0px 0px;
	-moz-border-image:url("images/zigzag.png") 100 repeat stretch;
	-webkit-border-image:url("images/zigzag.png") 75 stretch;
	border-right-image:url("images/zigzag.png") 20 repeat stretch;
}
*/


